/*container*/
.main {
    display: table;
    margin: 0 0 0 10em;
}

.img-main{
    display: table-cell;
    float: left;
    width: 38%;
    padding: 20px;
}

.titulo-main{
    font-weight: bold;
    font-size: 40px;
    color: var(--fundo);
    margin-top: 80px;
}

.paragrafo-main{
    overflow-wrap: break-word;
    padding: 20px 20px 0 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    text-align: justify;
}

button{
    width: 10em;
    margin: 20px 0 0 0;
    background-color: var(--fundo);
    padding: 10px;
    border-radius: 10px;
    border: solid;
    color: var(--cor-de-fundo);
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}