@import url("./styles/main.css");
@import url("./styles/footer.css");
@import url("./styles/header.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
    --cor-de-fundo:rgb(108, 61, 43);
    --fundo: rgb(221, 142, 113);
    --fundo-fundo: #d4d4d4;
}

body {
    background-color: var(--fundo-fundo);
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/*
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((-------- ğ’ğ‘’ğ“ˆğ’¶ğ“‡ â„ğ‘”ğ“ğ‘’ğ“ˆğ’¾ğ’¶ğ“ˆ  */

/**/